/* About.css */
.about-image {
  object-fit: cover;
}

.about-image img {
  width: 100%;
  height: auto;
  max-width: 100%; /* Ensure the image does not exceed its container width */
  
}

.about-text {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text h2 {
  font-size: 2rem;
  margin-top: 20px;
  color: #cf8b5c;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.6;
}
