.container {
  border-radius: 1%;
}
.btn-secondary {
  border-color: #cf8b5c;
  background-color: #cf8b5c;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary::after {
  background-color: #110803;
  border-color: #110803;
}

