.reservation-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-size: cover;
  background-position: center;
}

.reservation-form {
  max-width: 500px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}
.btn-secondary {
  background-color: #110803;
  border-color: #110801;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:after {
  background-color: #cf8b5c;
  border-color: #cf8b5c;
}
