.nav-link {
  color: #110803;
  margin-right: 10px;
}
.nav-link:hover {
  font-weight: bold;
  color: #cf8b5c;
}

.offcanvas-title {
  font-weight: bold;
  color: #cf8b5c;
}

.navbar {
  align-items: center;
  background-color: transparent;
  transition: background-color 0.3s, opacity 0.3s;
}
.navbar.scrolled {
  background-color: #ffff;
}

.active-link {
  font-weight: bold;
}
.navbar-offcanvas {
  background-color: white;
}

/* Navbar.css */
.custom-toggle {
  border: none;
  box-shadow: none;
  outline: none;
}

.custom-toggle:focus,
.custom-toggle:active {
  border: none;
  box-shadow: none;
  outline: none;
}
