@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

$coffee-brown: #110803;
$mocha-brown: #cf8b5c;
.coffee {
    color: $coffee-brown;

}
.mocha{
    color: $mocha-brown;
}
